# exclude the following files from installed packages

# git files
.gitignore          export-ignore
.gitattributes      export-ignore

# source files
common/assets/      export-ignore
common/templates/   export-ignore
common/*.json       export-ignore
gulpfile.js         export-ignore
package.json        export-ignore
package-lock.json   export-ignore
